<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BeInHospital.Properties.Settings.ConnectionString"
            connectionString="Data Source=icare;User ID=icare;Password=icare;Unicode=True"
            providerName="System.Data.OracleClient" />
    </connectionStrings>
</configuration>